$shadow-color: #00000029;
$shadow-alertbar: #b4b8bc29;
$dark-grey: #212529;
$light-grey: #cccccc;
$white: #ffffff;
$light-orange-ADS: #fcc789;
$orange-ADS-transparent-25: rgba(248, 142, 18, 0.25);
$gray-disabled: #e9ecef;
$gray-disabled-border: #ced4da;
$black: #000000;
$black-transparent-15: rgba(0, 0, 0, 0.15);
$grey-transparent-52: rgba(252, 252, 252, 0.521);

//Bootstrap Override
$primary: #f88e12;
