@use '../vars/typography';

$title-regular: 'Oswald-Regular';
$title-medium: 'Oswald-Medium';
$title-bold: 'Oswald-Bold';
$text-regular: 'Roboto-Regular';
$text-medium: 'Roboto-Medium';
$text-bold: 'Roboto-Bold';
$text-light: 'Roboto-Light';
